.MovieList{
    display: flex;
    flex-flow: row;
    padding: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Total{
    display: flex;
    flex-flow: column;

}


