.card{
    
    width: 18rem;
    min-height: 25rem !important;
    max-height: max-content;
    height: max-content;
    padding: 1rem;
    margin: 0.2rem;
    background-color: black;
    color: white;
    border-color: aliceblue;

}

.card-img-top{
    justify-self: center;
    align-self: center;
}

.card-body{
    display: flex;
    flex-flow: column;
}

.card-title{
    justify-self: center;
    align-self: center;
    font-size: large;
}

.btn-primary{
    background-color: blueviolet;
    border: 1px black solid;
}